
html{
  font-size: 10px;
}

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}




.overflow{
    font-size: 1.5rem;
}

.name{
    font-size: 1.6rem;
    font-weight:500;
}

@media (max-width:1440px){
  html{
    font-size: 20px;
  }
}

@media (max-width:1024px){
  html{
    font-size: 17px;
  }
}

@media (max-width:768px){
  html{
    font-size: 10px;
  }
}

@media (max-width:425px){
  html{
    font-size: 8px;
  }
}

@media (max-width:375px){
  html{
    font-size: 6px;
  }
}

@media (max-width:320px){
  html{
    font-size: 5px;
  }
}
@media (max-width:220px){
  html{
    font-size: 3px;
  }
}